<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Individual
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120201
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Individual by Free CSS Templates</title>
<link href="http://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
<script type="text/javascript" src="jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="jquery.formerize-0.1.js"></script>
<script type="text/javascript">
	$(function() {
		$('#search').formerize();
	});
</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Individual</a></h1>
		</div>
		<div id="search">
			<form action="" method="post">
				<div>
					<input class="form-text" name="search" size="44" maxlength="100" title="Search our website" />
				</div>
			</form>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="#">{{STATIC_URL}}</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Friends</a></li>
				<li><a href="/login.html">zaloguj</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
			<br class="clearfix" />
		</div>
	</div>
	<div id="page">
		{% block main %}
		{% endblock %}
		<!--<div id="sidebar">
			<h3>Natoque dolor</h3>
			<ul class="list">
				<li class="first"><a href="#">Auctor nisi tempus</a></li>
				<li><a href="#">Ante facilisis curabitur odio</a></li>
				<li><a href="#">Parturient lacus vestibulum</a></li>
				<li class="last"><a href="#">Aliquam vestibulum ipsum</a></li>
			</ul>
			<h3>Curabitur amet</h3>
			<ul class="list">
				<li class="first"><a href="#">Auctor nisi tempus</a></li>
				<li><a href="#">Ante facilisis curabitur odio</a></li>
				<li><a href="#">Etiam auctor urna amet</a></li>
				<li><a href="#">Fermentum quisque quam</a></li>
				<li><a href="#">Parturient lacus vestibulum</a></li>
				<li class="last"><a href="#">Aliquam vestibulum ipsum</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="post1">
				<h2>Welcome to Individual</h2>
				<p>
					This is <strong>Individual</strong>, a completely free and fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)
				</p>
			</div>
			<div id="post2">
				<h3>Imperdiet vivamus</h3>
				<p>
					Nulla libero ridiculus vitae sit quisque volutpat elit. Pharetra vel consequat lorem ipsum dolor sit amet.
				</p>
				<ul class="list">
					<li class="first"><a href="#">Dictum laoreet justo orci</a></li>
					<li><a href="#">Suspendisse pulvinar odio vitae</a></li>
					<li><a href="#">Aliquam aenean pellentesque</a></li>
					<li><a href="#">Enim volutpat pharetra eget</a></li>
					<li class="last"><a href="#">Laoreet duis arcu laoreet</a></li>
				</ul>
			</div>
			<div id="post3">
				<h3>Ipsum sollicitudin</h3>
				<ul class="section-list">
					<li class="first"><h4>Enim quisque magnis</h4><span>Turpis dictum natoque pellentesque aenean euismod etiam aenean.</span></li>
					<li><h4>Tempor urna suscipit</h4><span>Nisl auctor phasellus ac eu purus leo ut lobortis scelerisque vestibulum.</span></li>
					<li class="last"><h4>Dictum praesent</h4><span>Dictum volutpat condimentum dictum varius lacus donec montes etiam.</span></li>
				</ul>
			</div>-->
			<br class="clearfix" />
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.
</div>
</body>
</html>